{% extends "base.html" %}

{% block title %}
Account Keeper
{% endblock title %}

{% block body %}

<div class="jumbotron">
<center>
  <h1>Ever wanted to generate an album?</h1>
  	<div class="pull-right">
  		<p class="lead">
  			<i>
  				~brought to you by Adriel Mendoza and Sappha O'Meara~
  			</i>
  		</p>
	</div>
	<br>
	<br>
	<br>
		Welcome to Crescendo. Choose a word or phrase and get a sneak peek of what an album about your phrase would look like. Try it right now! You won't regret it.
</center>
{% endblock body %}